body {
	color: black;
	background-image: url(bg.jpg);
	background-size: cover;
	padding: 0px;
}

.container {
	background-color: #D2D5DD;
	padding: 10px;
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 50px;
	background-color: rgba(89,195,195,0.8);
	box-shadow: 4px 4px 2px rgba(14,67,67,0.6);
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	padding: 3px;
	text-align: center;
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

a:hover {
    color: cyan;
}

.footer {
	text-align: center;
	background-color: #002A32;
	padding: 15px;
	margin-top: 10px;
	color: white;
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

